---
import { convertPathToHtml } from "../../../utils/index.js"
const { path, mainPage, page } = Astro.props
const htmlPath = convertPathToHtml(path);

const pathname = Astro.url.pathname;
const pathSegments = pathname.split('/').filter(segment => segment !== '');
const depth = pathSegments.length > 0 ? pathSegments.length - 1 : 0;
const deploymentPath = depth === 0 ? './' : '../'.repeat(depth);
---

<!--begin::Sidebar-->
<aside class="app-sidebar bg-body-secondary shadow" data-bs-theme="dark">
  <!--begin::Sidebar Brand-->
  <div class="sidebar-brand">
    <a href={htmlPath + "/index2.html"} class="brand-link">
      <img
        src={deploymentPath + "assets/img/AdminLTELogo.png"}
        alt="Van der Werf Logo"
        class="brand-image opacity-75 shadow"
      />
      <span class="brand-text fw-light">Van der Werf</span>
    </a>
  </div>
  <!--end::Sidebar Brand-->

  <!--begin::Sidebar Wrapper-->
  <div class="sidebar-wrapper">
    <nav class="mt-2" aria-label="Hoofdnavigatie">
      <ul
        class="nav sidebar-menu flex-column"
        data-lte-toggle="treeview"
        data-accordion="false"
        id="navigation"
      >
        <!--begin::Dashboard-->
        <li class:list={["nav-item", page === "index2" && "menu-open"]}>
          <a
            href={htmlPath + "/index2.html"}
            class:list={["nav-link", page === "index2" && "active"]}
          >
            <i class="nav-icon bi bi-speedometer"></i>
            <p>Dashboard</p>
          </a>
        </li>
        <!--end::Dashboard-->

        <li class="nav-header">ACCOUNT</li>

        <!--begin::Auth-->
        <li class:list={["nav-item", mainPage === "examples" && "menu-open"]}>
          <a
            href="#"
            class:list={["nav-link", mainPage === "examples" && "active"]}
          >
            <i class="nav-icon bi bi-person-circle"></i>
            <p>
              Inloggen
              <i class="nav-arrow bi bi-chevron-right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a
                href={htmlPath + "/examples/login.html"}
                class:list={["nav-link", page === "login" && "active"]}
              >
                <i class="nav-icon bi bi-circle"></i>
                <p>Login</p>
              </a>
            </li>
            <li class="nav-item">
              <a
                href={htmlPath + "/examples/register.html"}
                class:list={["nav-link", page === "register" && "active"]}
              >
                <i class="nav-icon bi bi-circle"></i>
                <p>Registreren</p>
              </a>
            </li>
          </ul>
        </li>
        <!--end::Auth-->
      </ul>
    </nav>
  </div>
  <!--end::Sidebar Wrapper-->
</aside>
<!--end::Sidebar-->
